[colors]
bg=${POLYBAR_BG}
;030f0a
background-alt = #373B41
fg = #C5C8C6
primary = #A2CD83
secondary = #8ABEB7
alert = #A54242
disabled = #707880
pastel-1 = #D9BACB
pastel-2 = #B8D3D9
pastel-3 = #F2E0C9
pastel-4 = #F2D5E5
pastel-dark = #594C53